<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Phoenix</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
    </div>


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Selection</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Route #</th>
                        <th>Order Number</th>
                        <th>Status</th>
                        <th>Assignment #</th>
                        <th>User ID</th>
                        <th>User Name</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Route #</th>
                        <th>Order Number</th>
                        <th>Status</th>
                        <th>Assignment #</th>
                        <th>User ID</th>
                        <th>User Name</th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr>
                        <td>4400</td>
                        <td>CA-2020-152156</td>
                        <td>Pending</td>
                        <td>6738</td>
                        <td>EXG6026</td>
                        <td>Darrin Van Huff</td>
                    </tr>

                    <tr>
                        <td>4401</td>
                        <td>CA-2018-115812</td>
                        <td>Active</td>
                        <td>6735</td>
                        <td>WRG6026</td>
                        <td>Alejandro Grove</td>
                    </tr>

                    <tr>
                        <td>4403</td>
                        <td>CA-2018-146793</td>
                        <td>Active</td>
                        <td>6723</td>
                        <td>PEG6026</td>
                        <td>Emily Burns</td>
                    </tr>

                    <tr>
                        <td>4409</td>
                        <td>CA-2018-1257380</td>
                        <td>Pending</td>
                        <td>6795</td>
                        <td>PRU6026</td>
                        <td>Matt Abelman</td>
                    </tr>

                    <tr>
                        <td>4400</td>
                        <td>CA-2020-152156</td>
                        <td>Pending</td>
                        <td>6738</td>
                        <td>EXG6026</td>
                        <td>Darrin Van Huff</td>
                    </tr>

                    <tr>
                        <td>4401</td>
                        <td>CA-2018-115812</td>
                        <td>Active</td>
                        <td>6735</td>
                        <td>WRG6026</td>
                        <td>Alejandro Grove</td>
                    </tr>

                    <tr>
                        <td>4403</td>
                        <td>CA-2018-146793</td>
                        <td>Active</td>
                        <td>6723</td>
                        <td>PEG6026</td>
                        <td>Emily Burns</td>
                    </tr>

                    <tr>
                        <td>4409</td>
                        <td>CA-2018-1257380</td>
                        <td>Pending</td>
                        <td>6795</td>
                        <td>PRU6026</td>
                        <td>Matt Abelman</td>
                    </tr>

                    <tr>
                        <td>4400</td>
                        <td>CA-2020-152156</td>
                        <td>Pending</td>
                        <td>6738</td>
                        <td>EXG6026</td>
                        <td>Darrin Van Huff</td>
                    </tr>

                    <tr>
                        <td>4401</td>
                        <td>CA-2018-115812</td>
                        <td>Active</td>
                        <td>6735</td>
                        <td>WRG6026</td>
                        <td>Alejandro Grove</td>
                    </tr>

                    <tr>
                        <td>4403</td>
                        <td>CA-2018-146793</td>
                        <td>Active</td>
                        <td>6723</td>
                        <td>PEG6026</td>
                        <td>Emily Burns</td>
                    </tr>

                    <tr>
                        <td>4409</td>
                        <td>CA-2018-1257380</td>
                        <td>Pending</td>
                        <td>6795</td>
                        <td>PRU6026</td>
                        <td>Matt Abelman</td>
                    </tr>

                    <tr>
                        <td>4400</td>
                        <td>CA-2020-152156</td>
                        <td>Pending</td>
                        <td>6738</td>
                        <td>EXG6026</td>
                        <td>Darrin Van Huff</td>
                    </tr>

                    <tr>
                        <td>4401</td>
                        <td>CA-2018-115812</td>
                        <td>Active</td>
                        <td>6735</td>
                        <td>WRG6026</td>
                        <td>Alejandro Grove</td>
                    </tr>

                    <tr>
                        <td>4403</td>
                        <td>CA-2018-146793</td>
                        <td>Active</td>
                        <td>6723</td>
                        <td>PEG6026</td>
                        <td>Emily Burns</td>
                    </tr>

                    <tr>
                        <td>4409</td>
                        <td>CA-2018-1257380</td>
                        <td>Pending</td>
                        <td>6795</td>
                        <td>PRU6026</td>
                        <td>Matt Abelman</td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>

</div>