<div class="container-fluid">
                    
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Chicago</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Orders Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Orders</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">121</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Routes Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Routes</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">80</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-map fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Selection Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Selection
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">30</div>
                                </div>
                                <div class="col">
                                    <div class="progress progress-sm mr-2">
                                        <div class="progress-bar bg-info" role="progressbar"
                                            style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                            aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-tasks fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Loading Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Loading</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-truck fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Row -->


    <div class="row">
        <div class="card shadow col-lg-12 mb-12">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Today's Loading Status</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Door</th>
                                <th>Route</th>
                                <th>Dock</th>
                                <th>Selected</th>
                                <th>Loaded</th>
                                <th>Invoiced</th>
                                <th>Dispatch</th>
                                <th>Load Status</th>
                                <th>Final Status</th>
                                

                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Door</th>
                                <th>Route</th>
                                <th>Dock</th>
                                <th>Selected</th>
                                <th>Loaded</th>
                                <th>Invoiced</th>
                                <th>Dispatch</th>
                                <th>Load Status</th>
                                <th>Final Status</th>
                                

                            </tr>
                        </tfoot>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>6113</td>
                                <td>F</td>
                                <td>7:30 PM <a href="#"><i class="fas fa-clock"></i></a></td>
                                <td>8:00 PM <a href="#"><i class="fas fa-clock"></i></a></td>
                                <td>8:05 PM <a href="#"><i class="fas fa-clock"></i></a></td>
                                <td>8:10 PM </td>
                                <td>On time</td>
                                <td>Completed</td>
                            </tr>

                            <tr>
                                <td>1</td>
                                <td>6114</td>
                                <td>C/D</td>
                                <td>7:30 PM <a href="#"><i class="fas fa-clock"></i></a></td>
                                <td>8:00 PM <a href="#"><i class="fas fa-clock"></i></a></td>
                                <td>8:05 PM <a href="#"><i class="fas fa-clock"></i></a></td>
                                <td>8:10 PM </td>
                                <td>On time</td>
                                <td>Completed</td>
                            </tr>
                            
                            
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    

</div>