<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h1 class="m-0 font-weight-bold text-primary">Central</h1>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Market Name</th>
                        <th>Warehouse</th>
                        <th>Supervisor</th>
                        <th>Status</th>
                        <th>Contact Number </th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Market Name</th>
                        <th>Warehouse</th>
                        <th>Supervisor</th>
                        <th>Status</th>
                        <th>Contact Number </th>
                        <th>Email</th>
                    </tr>
                </tfoot>
                <tbody>
                    
                    <tr>
                        <td>Illinois</td>
                        <td><a routerLink="/market">Chicago</a></td>
                        <td>Mel Hudson-Nowak</td>
                        <td class="text-danger ">Delayed</td>
                        <td>312-123-4567</td>
                        <td>mel.hudsonNowak@usfoods.com</td>
                    </tr>
                    <tr>
                        <td>North Dakota</td>
                        <td><a routerLink="/market">Bismarck</a></td>
                        <td>Jon Dough</td>
                        <td>On Time</td>
                        <td>312-111-111</td>
                        <td>jon.dough@usfoods.com</td>
                    </tr>

                    <tr>
                        <td>North Dakota</td>
                        <td><a routerLink="/market">Grand Forks</a></td>
                        <td>Kelly Starr</td>
                        <td>On Time</td>
                        <td>312-111-222</td>
                        <td>kelly.starr@usfoods.com</td>
                    </tr>

                    <tr>
                        <td>Minnesota</td>
                        <td><a routerLink="/market">Plymouth</a></td>
                        <td>Rosalie Emit</td>
                        <td>On Time</td>
                        <td>312-111-674</td>
                        <td>rosalie.emit@usfoods.com</td>
                    </tr>

                    <tr>
                        <td>Wisconsin</td>
                        <td><a routerLink="/market">Milwaukee</a></td>
                        <td>Karen Grant</td>
                        <td>On Time</td>
                        <td>312-111-234</td>
                        <td>karen.grant@usfoods.com</td>
                    </tr>

                    

                     

                    
                    
                </tbody>
            </table>
        </div>
    </div>
</div>