<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Chicago</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
    </div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Loading Information</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Route #</th>
                        <th>ID (5500I71)</th>
                        <th>Status (pending/active/loaded)</th>
                        <th>Location (zone L, zone R)</th>
                        <th>Cases</th>
                        <th>Cube (44.6, 22.3)</th>
                        <th>Assignment (7168, 7167)</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Route #</th>
                        <th>ID (5500I71)</th>
                        <th>Status (pending/active/loaded)</th>
                        <th>Location (zone L, zone R)</th>
                        <th>Cases</th>
                        <th>Cube (44.6, 22.3)</th>
                        <th>Assignment (7168, 7167)</th>
                        <th>User ID</th>
                        <th>User Name</th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr>
                        <td>Tiger Nixon</td>
                        <td>System Architect</td>
                        <td>Edinburgh</td>
                        <td>61</td>
                        <td>2011/04/25</td>
                        <td>$320,800</td>
                        <td>---</td>
                        <td>User ID</td>
                        <td>User Name</td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>