<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Chicago</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
    </div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Loading Information</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Route #</th>
                        <th>ID</th>
                        <th>Status (pending/active/loaded)</th>
                        <th>Location</th>
                        <th>Cases</th>
                        <th>Cube </th>
                        <th>Assignment </th>
                        <th>User ID</th>
                        <th>User Name</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Route #</th>
                        <th>ID (5500I71)</th>
                        <th>Status </th>
                        <th>Location</th>
                        <th>Cases</th>
                        <th>Cube </th>
                        <th>Assignment</th>
                        <th>User ID</th>
                        <th>User Name</th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr>
                        <td>4400</td>
                        <td>5500I71</td>
                        <td>Pending</td>
                        <td>Zone L</td>
                        <td>30</td>
                        <td>44.7</td>
                        <td>6780</td>
                        <td>RES6026</td>
                        <td>Matt Abelman</td>
                    </tr>

                    <tr>
                        <td>4405</td>
                        <td>1347890</td>
                        <td>Active</td>
                        <td>Zone R</td>
                        <td>36</td>
                        <td>65.7</td>
                        <td>6784</td>
                        <td>KEL6026</td>
                        <td>Steve Nguyen</td>
                    </tr>

                    <tr>
                        <td>4429</td>
                        <td>6839604</td>
                        <td>Loaded</td>
                        <td>Zone R</td>
                        <td>32</td>
                        <td>87.2</td>
                        <td>6710</td>
                        <td>OET6026</td>
                        <td>Erin Smith</td>
                    </tr>

                    <tr>
                        <td>4400</td>
                        <td>5500I71</td>
                        <td>Pending</td>
                        <td>Zone L</td>
                        <td>30</td>
                        <td>44.7</td>
                        <td>6780</td>
                        <td>RES6026</td>
                        <td>Matt Abelman</td>
                    </tr>

                    <tr>
                        <td>4405</td>
                        <td>1347890</td>
                        <td>Active</td>
                        <td>Zone R</td>
                        <td>36</td>
                        <td>65.7</td>
                        <td>6784</td>
                        <td>KEL6026</td>
                        <td>Steve Nguyen</td>
                    </tr>

                    <tr>
                        <td>4429</td>
                        <td>6839604</td>
                        <td>Loaded</td>
                        <td>Zone R</td>
                        <td>32</td>
                        <td>87.2</td>
                        <td>6710</td>
                        <td>OET6026</td>
                        <td>Erin Smith</td>
                    </tr>

                    <tr>
                        <td>4400</td>
                        <td>5500I71</td>
                        <td>Pending</td>
                        <td>Zone L</td>
                        <td>30</td>
                        <td>44.7</td>
                        <td>6780</td>
                        <td>RES6026</td>
                        <td>Matt Abelman</td>
                    </tr>

                    <tr>
                        <td>4405</td>
                        <td>1347890</td>
                        <td>Active</td>
                        <td>Zone R</td>
                        <td>36</td>
                        <td>65.7</td>
                        <td>6784</td>
                        <td>KEL6026</td>
                        <td>Steve Nguyen</td>
                    </tr>

                    <tr>
                        <td>4429</td>
                        <td>6839604</td>
                        <td>Loaded</td>
                        <td>Zone R</td>
                        <td>32</td>
                        <td>87.2</td>
                        <td>6710</td>
                        <td>OET6026</td>
                        <td>Erin Smith</td>
                    </tr>

                    <tr>
                        <td>4400</td>
                        <td>5500I71</td>
                        <td>Pending</td>
                        <td>Zone L</td>
                        <td>30</td>
                        <td>44.7</td>
                        <td>6780</td>
                        <td>RES6026</td>
                        <td>Matt Abelman</td>
                    </tr>

                    <tr>
                        <td>4405</td>
                        <td>1347890</td>
                        <td>Active</td>
                        <td>Zone R</td>
                        <td>36</td>
                        <td>65.7</td>
                        <td>6784</td>
                        <td>KEL6026</td>
                        <td>Steve Nguyen</td>
                    </tr>

                    <tr>
                        <td>4429</td>
                        <td>6839604</td>
                        <td>Loaded</td>
                        <td>Zone R</td>
                        <td>32</td>
                        <td>87.2</td>
                        <td>6710</td>
                        <td>OET6026</td>
                        <td>Erin Smith</td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>